:root{
    --BG-0: #ededed;
    --BG-1: #f7f7f7;
    --BG-2: #ffffff;
    --BG-3: #f7f7f7;
    --BG-4: #4c4c4c;
    --BG-5: #ffffff;

    --FG-0:rgba(0, 0, 0, .9);
    --FG-0-5:rgba(0, 0, 0, .9);
    --FG-1:rgba(0, 0, 0, .5);
    --FG-2:rgba(0, 0, 0, .3);
    --FG-3:rgba(0, 0, 0, .1);
}